<a href="https://colab.research.google.com/github/vimmiseth/PySparkPracs/blob/main/Pys_asg1-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import requests
import pandas as pd
url = 'https://github.com/vimmiseth/PySparkPracs/blob/main/data1.xlsx'
response = requests.get(url)

df2 = pd.ExcelFile('https://github.com/vimmiseth/PySparkPracs/blob/main/data1.xlsx?raw=true')
print(df2.sheet_names)

['teacher']

In [15]:
import requests
import pandas as pd
url = 'https://github.com/vimmiseth/PySparkPracs/blob/main/Assessment.xlsx'

response = requests.get(url)

df2 = pd.ExcelFile('https://github.com/vimmiseth/PySparkPracs/blob/main/Assessment.xlsx?raw=true')
print(df2.sheet_names)

['teacher', 'Student']

In [28]:
xls = 'https://github.com/vimmiseth/PySparkPracs/blob/main/Assessment.xlsx?raw=true'
dft = pd. read_excel(xls, sheet_name = 'teacher')
dfs = pd. read_excel(xls, sheet_name ='Student')
dft.head()

     Student_id    teacher_id    teacher_hhid  teacher_zip9  Year
0  40F27A002435  B_0252440875  H_B_0251656840     622264627  2000
1  004621002E24  B_0189602039  H_B_0132701790     980427347  2001
2  D00017726B2C  B_0199087981  H_B_0121195289     926188806  2002
3  70FC989B3E50  B_0901568084  H_B_0222028029     959934612  2003
4  40F27A002435  B_0252440875  H_B_0251656840     622264627  2004

In [29]:
dfs.head()

     Student_id  student_tuid    student_hhid  student_zip9  Year
0  40F27A000036  B_0252440875  H_B_0251656811     622264627  2000
1  004621001E45  B_0189602039  H_B_0132701789     980427347  2001
2  D00017726B1B  B_0199087981  H_B_0121195286     926188806  2002
3  70FC989B3F49  B_0901568084  H_B_0222028027     959934612  2003
4  40F27A000036  B_0252440875  H_B_0251656811     622264627  2004

In [31]:
import pyspark
from pyspark.sql import SparkSession
#Create PySpark SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()
#Create PySpark DataFrame from Pandas

sdf_st=spark.createDataFrame(dfs) 
sdf_tr=spark.createDataFrame(dft) 
sdf_st.printSchema()
sdf_st.show()
sdf_tr.show()

root
 |-- Student_id: string (nullable = true)
 |-- student_tuid: string (nullable = true)
 |-- student_hhid: string (nullable = true)
 |-- student_zip9: long (nullable = true)
 |-- Year: long (nullable = true)

+------------+------------+--------------+------------+----+
|  Student_id|student_tuid|  student_hhid|student_zip9|Year|
+------------+------------+--------------+------------+----+
|40F27A000036|B_0252440875|H_B_0251656811|   622264627|2000|
|004621001E45|B_0189602039|H_B_0132701789|   980427347|2001|
|D00017726B1B|B_0199087981|H_B_0121195286|   926188806|2002|
|70FC989B3F49|B_0901568084|H_B_0222028027|   959934612|2003|
|40F27A000036|B_0252440875|H_B_0251656811|   622264627|2004|
|004621001E45|B_0189602039|H_B_0132701789|   980427347|2005|
|D00017726B1B|B_0199087981|H_B_0121195286|   926188806|2006|
|70FC989B3F49|B_0901568084|H_B_0222028027|   959934612|2007|
|40F27A000036|B_0252440875|H_B_0251656811|   622264627|2008|
|004621001E45|B_0189602039|H_B_0132701789|   980427347|2009|
|D00017726B1B|B_0199087981|H_B_0121195286|   926188806|2010|
|70FC989B3F49|B_0901568084|H_B_0222028027|   959934612|2011|
|40F27A000036|B_0252440875|H_B_0251656811|   622264627|2012|
|004621001E45|B_0189602039|H_B_0132701789|   980427347|2013|
|D00017726B1B|B_0199087981|H_B_0121195286|   926188806|2014|
|70FC989B3F49|B_0901568084|H_B_0222028027|   959934612|2015|
|40F27A000036|B_0252440875|H_B_0251656811|   622264627|2016|
|004621001E45|B_0189602039|H_B_0132701789|   980427347|2017|
|D00017726B1B|B_0199087981|H_B_0121195286|   926188806|2018|
|70FC989B3F49|B_0901568084|H_B_0222028027|   959934612|2019|
+------------+------------+--------------+------------+----+

+------------+------------+--------------+------------+----+
|  Student_id|  teacher_id|  teacher_hhid|teacher_zip9|Year|
+------------+------------+--------------+------------+----+
|40F27A002435|B_0252440875|H_B_0251656840|   622264627|2000|
|004621002E24|B_0189602039|H_B_0132701790|   980427347|2001|
|D00017726B2C|B_0199087981|H_B_0121195289|   926188806|2002|
|70FC989B3E50|B_0901568084|H_B_0222028029|   959934612|2003|
|40F27A002435|B_0252440875|H_B_0251656840|   622264627|2004|
|004621002E24|B_0189602039|H_B_0132701790|   980427347|2005|
|D00017726B2C|B_0199087981|H_B_0121195289|   926188806|2006|
|70FC989B3E50|B_0901568084|H_B_0222028029|   959934612|2007|
|40F27A002435|B_0252440875|H_B_0251656840|   622264627|2008|
|004621002E24|B_0189602039|H_B_0132701790|   980427347|2009|
|D00017726B2C|B_0199087981|H_B_0121195289|   926188806|2010|
|70FC989B3E50|B_0901568084|H_B_0222028029|   959934612|2011|
|40F27A002435|B_0252440875|H_B_0251656840|   622264627|2012|
|004621002E24|B_0189602039|H_B_0132701790|   980427347|2013|
|D00017726B2C|B_0199087981|H_B_0121195289|   926188806|2014|
|70FC989B3E50|B_0901568084|H_B_0222028029|   959934612|2015|
|40F27A002435|B_0252440875|H_B_0251656840|   622264627|2016|
|004621002E24|B_0189602039|H_B_0132701790|   980427347|2017|
|D00017726B2C|B_0199087981|H_B_0121195289|   926188806|2018|
|70FC989B3E50|B_0901568084|H_B_0222028029|   959934612|2019|
+------------+------------+--------------+------------+----+

In [25]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=4a68492293b7d302e3eb88738bd349b0de716a811f8fd1a533c7c33d2938cc58
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0